---
title: CSS stylesheet
---

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
}

h2,
.h2{
font-variant:small-caps}


.navbar-brand{
font-variant:small-caps}



.transparent {
   background: rgba(255,255,255,0.4);
}

.text-nav {
    color:red;
}

.md12-img {
    display: table;
    width: 100%;
    table-layout: fixed;

}



.txt-on-img{
    color:white;
}
.txt-alone{
    color:grey;
}


.container-fluid h2{
    text-align:center;
    padding: 20px 0px 20px 0px;
    font-family:fantasy
}

.no-padding {
    padding:0px ;
    padding-top:50px;
}

.bg-fixed {
    background-attachment:fixed;}

.bg-transparent {
    background:transparent;}
.first-plan{

    height: 100% ;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:5%;
    /* z-index : 5 */ ;
}


.rf-txt {
    position:relative;
    display:table;
    z-index : 0 ;
    width: 100%;
    table-layout: fixed;

}



.rnd-img {
    position:relative;
    display:table;
    z-index : 0 ;
    ;
    width: 100%;
    table-layout: fixed;

}


.txt{
    font-size:large;
    position:absolute;
    display:table-cell;
    /* color:grey */;
    height:auto;
    top:0px;
    width:100%;;
    /* z-index : 5 */ ;
}

.txt-no-button{
    font-size:medium;
    vertical-align: middle;
    display:table-cell;
    /* color:grey */;
    height:auto;
    top:0px;
    width:100%;;
    /* z-index : 5 */ ;
}

.p-margin{
margin-left:50px;
margin-right:50px;}

.but-bot{
    position:absolute;
    bottom:0;
    /* display:table; */
    width:100%;
     padding-bottom:5px ;
    /* z-index : 5 */ ;
}

.img-but{
    bottom:50%
}

.col-margin{
    margin-bottom:10px;}

.center-but, .center-but:focus{
    padding: 10px 15px;
    font-size:17px;
    color:white;
    font-variant:small-caps;
    background:none;
    /* border:none */;
    box-shadow:none;
    border-width:2px;
    }

.center-but:hover{
    padding: 10px 15px;
    font-size:17px;
    background-color:rgba(255,255,255, 0.5);
    color:white

    }

.txt-but, .text-but:focus {
padding: 10px 15px;
    font-size:17px;
    color:grey;
    border-color:grey;
}

.txt-but:hover {
    padding: 10px 15px;
    font-size:17px;
    background-color:rgba(0,0,0, 0.1);
    color:grey;
}

/* HOME */

.img-1 {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/last.jpg');
}

.img-2 {
    color:white;
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/header.JPG');
}


.img-3 {
    color:white;
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/clocher.jpg');
}


/* OFFICES */

.img-1-office {
    height:300px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/messe.jpg');
}

.img-3-office {
    height:300px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/adoration.jpg');
}

/* ACCUEIL */

.img-2-accueil {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/hiver_solidaire.jpg');
}

.img-3-accueil {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/macadam_cafe.jpg');
}


/* quartier */
.img-quartier-opera {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/opera2.jpg');
}

.img-quartier-new-tech {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/nouvelles_technologies.jpg');
}

.img-quartier-nouvelle-athenes {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/nouvelle_athenes.jpg');
}

.img-quartier-synagogue {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/synagogue2.jpg');
}

.img-quartier-theatres {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/theatres.jpg');
}

.img-quartier-nd-de-lorette {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/notre_dame_de_lorette.jpg');
}

.img-quartier-saint-augustin {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/saint_augustin2.jpg');
}

.img-quartier-pigalle {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/pigalle.jpg');
}

.img-quartier-grands-magasins {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/grands_magasins.jpg');
}

.img-quartier-gare-saint-lazare {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/saint_lazare.jpg');
}

/* architecture */

.img-architecture-haussmann {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/haussmann.jpg');
}

.img-architecture-square {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/square.jpg');
}

.img-architecture-interieur {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/interieur.jpg');
}

.img-historique-construction {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/construction.jpg');
}

.img-historique-vie {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-image : url('{{ site.baseurl }}/img/vie.jpg');
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    h2{

        font-size:20pt;
    }
    .rnd-img{
        height:900px;
    }
    .rnd-img img{
        margin-top:10px}

    .rf-txt{
        height:560px}

    .bg-fixed{
    height:500px}
}

/* Small devices (tablets, 769px and up) */
@media (min-width: 768px ) {
    h2{

        font-size:20pt;
    }
    .rnd-img{
    height:900px;
    }
    .rf-txt{
        height:400px}
    .bg-fixed{
    height:500px}

    .rnd-img img{
    margin-top:10px}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2{
        font-size:20pt;
    }
    .rnd-img{
    height:250px;
    }
    .rf-txt{
        height:250px}
    .bg-fixed{
    height:500px}
}
