 .transparent {
   background: rgba(255,255,255,0.7);
}

.md12-img {
    height:500px;
    overflow: hidden;
    z-index : 0 ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: table;
    width: 100%;
    table-layout: fixed;

}

.img-1 {
background-image : url('/img/old_trinite.JPG');
}

.img-2 {
background-image : url('/img/header.JPG');
}


.container-fluid h2{
    text-align:center;
    padding: 20px 0px 20px 0px;
    font-family:fantasy
}

.no-padding {
    padding:0px ;
}

.bg-fixed {
    background-attachment:fixed;}

.bg-transparent {
    background:transparent;}
.first-plan{

    height: 100% ;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom:5%;
    /* z-index : 5 */ ;
}


.rf-txt {
    position:relative;
    overflow: hidden;
    display:table;
    z-index : 0 ;
    min-height:250px;
    width: 100%;
    table-layout: fixed;

}


.txt{
    position:absolute;
    display:table-cell;

    height:100px;
    top:0px;
    width:100%;
    /* z-index : 5 */ ;
}

.but-bot{
    position:absolute;
    bottom:0;
    display:table;
    width:100%;
    vertical-align: bottom;
    /* padding-bottom:5% */;
    /* z-index : 5 */ ;
}

.col-margin{
    margin-bottom:10px;}

.center-but, .center-but:focus{
    color:white;
    background:none;
    /* border:none */;
    box-shadow:none;
    border-width:2px;
    }

.center-but:hover{
    background-color:rgba(255,255,255, 0.5);
    color:white
    }


/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    h2{

        font-size:20pt;
    }
    .rnd-img{
    min-height:700px;
    }
    .rnd-img img{
    margin-top:10px}
}

/* Small devices (tablets, 769px and up) */
@media (min-width: 768px ) {
    h2{

        font-size:20pt;
    }
    .rnd-img{
    min-height:700px;
    }
    .rnd-img img{
    margin-top:10px}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h2{
        font-size:20pt;
    }
    .rnd-img{
    min-height:250px;
    }
}