<footer >
  <div class="row-fluid rf-txt" style="height:20px;background-color:#eee;margin-top:10px;">
    <div class="row-fluid txt-no-button txt-alone" >
      <div class="col-md-12 text-center" >

        <p class="p-margin"> Pour accéder au site de la paroisse rendez-vous sur <a href="http://latriniteparis.com"> http://latriniteparis.com </a> </p>
<p class="p-margin"> Contactez nous : <a href="mailto:contact@trinite.paris">contact@trinite.paris</a </p>
      </div>
    </div>

  </div>



</footer>
